/** User style **/
.title_pokedex
{
    text-align: center;
}

.item, .single_pokemon
{
    border: 1px solid #000033;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.single_pokemon
{
    padding: 20px;
    position: fixed;
    width: 263px;
}

.single_pokemon:hover
{
    background: #CCFFFF;
    border: 1px solid #ffffff;
}

.item:hover
{
    background: #FFFFCC;
    border: 1px solid #ffffff;
}

.name_pokedex
{
    font-size: 15px;
    margin: 20px;
}

.name_pokemon
{
    font-size: 20px;
}

.image_pokedex
{
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.type_pokedex
{
    margin: 20px;
}

.button_pokedex
{
    margin-right: 10px;
}

#loader
{
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#load_more
{
    padding-bottom: 20px;
    text-align: center;
}

.btn-load_more
{
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.footer_pokedex
{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;    
}

#body_pokedex
{
    min-height: 500px;
}
