/** User style **/
.title_pokedex
{
    text-align: center;
}

.item
{
    border: 1px solid #000033;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
}

.item:hover
{
    background: #FFFFCC;
    border: 1px solid #ffffff;
}

.name_pokedex
{
    font-size: 15px;
    margin: 20px;
}

.image_pokedex
{
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.type_pokedex
{
    margin: 20px;
}

.button_pokedex
{
    margin-right: 10px;
}

#loader
{
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
}